@font-face {
  font-family: 'Great Vibes';
  /* Make sure this path matches exactly where you put the file */
  src: url('./GreatVibes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html{
    overflow: hidden;
  height: 100vh;
}
body {
  background-color: #000;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  background-repeat: no-repeat;
}

h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5vw;
  animation: zoom-in-zoom-out 2s ease-in-out infinite;
}


@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.9, 0.9);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes buzz {
  0% {
    transform: scale(1, 1) rotate(0deg);
  }
  25% {
    transform: scale(0.9, 0.9) rotate(10deg);
  }
    50% {
    transform: scale(0.8, 0.8) rotate(0deg);
  }
   75% {
    transform: scale(0.9, 0.9) rotate(-10deg);
  }
  100% {
    transform: scale(1, 1) rotate(0deg);
  }
}


#present {
  display: flex;
  visibility: hidden;
  animation: buzz 0.7s ease-in-out infinite;
  /* width: 100%; */
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.8s ease;
  will-change: transform;
  flex-direction: column;
  color: white;
  z-index: 100000000;
}

#present span {
  font-size: 64px;
}
#present.opened {
  animation: none;
}

#present.opened::before{
  content: "Happy 3 Years of us";
  font-size: 6px;
}

#present.opened::after{
  content: "Tap to open";
  font-size: 6px;
}

/* Ticket image is hidden by default and pops in when shown */
#ticket {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  max-width: min(90vw, 800px);
  max-height: 80vh;
  opacity: 0;
  pointer-events: none;
  z-index: 100000001; /* above the present */
  display: flex;
  flex-direction: column;
}

#ticket {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  max-width: min(90vw, 800px);
  max-height: 80vh;
  opacity: 0;
  pointer-events: none;
  z-index: 100000001; /* above the present */
  display: flex;
  flex-direction: column;
}

#ticket div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

@media screen and (min-width: 600px) {
  #ticket {
    flex-direction: row !important;
    gap: 24px !important;
  }

  #ticket #long-text{
    max-height: 400px !important;
    overflow: auto;
  }

  #ticket div {
    flex: 1;
  }
}

#ticket video {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

#ticket.show {
  animation: ticket-pop 2s ease forwards;
    pointer-events: auto;
}

#ticket #long-text{
  display: flex;
  flex-direction: column;
  gap: 1px;
    max-height: 200px;
      overflow: auto;
      align-items: center;
}
#ticket #long-text p{
  font-family: 'Great Vibes', cursive;
  color: #f1e9db; 
  font-size: 16px;

  margin: 0 !important;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  line-height: 2;
}


#ticket #btn button{
  text-decoration: none;
  background-color: rgba(196, 152, 255, 0.8);
  border-radius: 16px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  cursor: pointer;
  padding: 8px 16px;
  border: none;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;;
}

#ticket img {
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin-bottom: -18px;
  cursor: pointer;
}

@keyframes ticket-pop {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5) rotate(-2deg);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
  }
}

#ticket{
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.8);
  border-radius: 16px;
  padding: 16px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;

}

#days-container{
    position: absolute;
  bottom: 0;
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:  all 2s ease-in-out;
  flex-direction: column;
  gap: 24px;
}

#days-container.big{
  bottom: 0;
  left: 0;
  height: 100vh;
  backdrop-filter: blur(20px);
  /* background-color: rgba(0,0,0,0.8); */
}

#days-container #days {
  color: white;
  font-size: 14px;
  margin-bottom: -16px;
  transition: all 2s ease-in-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, rgb(255 217 45) 0%, rgb(200 147 255) 100%);
}

#days-container.big #days{
/* font-size: 24px; */
font-weight: bold;
}

